version: '3.5'

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    # network_mode: host
    environment:
      - POSTGRES_DB=ivms
      - POSTGRES_USER=ivms
      - POSTGRES_PASSWORD=4UuI4P!p
    container_name: vms_timescale_db
    ports:
      - 5564:5432
    volumes:
      -  "{{ volumes_postgresql_data_path }}:/var/lib/postgresql/data/"  # /home/volumes/postgresql_data/:/var/lib/postgresql/data/
    restart: always
    networks:
    - timescaledb_network
networks:
  timescaledb_network:
    name: timescaledb_network
    driver: bridge
    ipam:
      config:
        - subnet: 172.178.0.0/16
