upstream web-module-backend {
  server 127.0.0.1:31001;
}

server {
#       include inc/cors.inc;
#       include inc/cors2.inc;
    server_name api.{{server_url}};
    #listen 10.236.128.200:31101;
   listen 80; 
   access_log /var/log/nginx/operator-api.log main;
    chunked_transfer_encoding on;

    location / {
       proxy_pass http://web-module-backend;
       include inc/proxy_pass_params.inc;
#       include inc/cors.inc;
       include inc/cors2.inc;
    }

    location /ws {
      proxy_pass http://web-module-backend;
      include inc/cors.inc;
      include inc/cors2.inc;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }

    location /external_ws {
      proxy_pass http://web-module-backend;
      include inc/cors.inc;
      include inc/cors2.inc;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }


}
