upstream web-module-frontend {
  server 127.0.0.1:31010;
}

server {

#    listen 10.236.128.200:31110;
    listen 80;
    server_name {{server_url}};
    access_log /var/log/nginx/frontend.log main;
    chunked_transfer_encoding on;

    location / {
       proxy_pass http://web-module-frontend;
       include inc/proxy_pass_params.inc;
       include inc/cors2.inc;
    }
}
