upstream local-manager {
    server 127.0.0.1:31002;
}

server {
    server_name local-manager.{{server_url}};
    listen 80;
    #listen 10.236.128.200:31102;
    access_log /var/log/nginx/local-manager.log main;
    chunked_transfer_encoding on;

    location / {
       proxy_pass http://local-manager;
       include inc/proxy_pass_params.inc;
       include inc/cors.inc;
    }
}
#
#listen 10.224.138.201:80;
#server_name vms.pk1.prod.asudd;
