upstream video-player-service {
    server 127.0.0.1:31111;
}

server {
    server_name video-player-service.{{server_url}};
    #listen 10.236.128.200:30111;
    listen 80;
    access_log /var/log/nginx/video-player-service.log main;
    chunked_transfer_encoding on;

    location / {
       proxy_pass http://video-player-service;
       include inc/proxy_pass_params.inc;
	include inc/cors.inc;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
